{% extends 'base.html' %}

{% block head %}
<!-- Sorry for the ugly HTML -->
<title>Automatic plant watering system</title>
{% endblock %}

{% block body %}
<style>
.container { 
  height: 200px;
  position: relative; 
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>

<div class="content">
    <br><br>
    <h1 style="text-align: center">Automatic plant watering system</h1><br><br>
    <h4 style="text-align: center">Server accessed on: {{ time }}</h2><br><br>
    <h4 style="text-align: center"> {{ text }} </h2>
</div>
<div class="container">
    <div class="center">
      <a href="/moisture_level"><button>Check moisture level</button></a> <br>
      <a href="/water_plant"><button>Give water</button></a> <br>
      <a href="/last_watered"><button>Check last water time</button></a> <br>
      <a href="/reservoir_empty"><button>Check reservoir</button></a> <br>
      <a href="/system_shutdown"><button>Shutdown watering system</button></a> <br><br><br>
      <form action="{{ url_for('update_moisture_threshold') }}" method="post" id="moisture_form">
          <label for="moisture_threshold">Desired moisture threshold:</label><br>
          <input type="text" id="moisture_threshold" name="moisture_threshold"><br>
          <input type="submit" value="Update moisture threshold"><br>
      </form>
    </div>
  </div>
{% endblock %}